# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

PadCMS-AdyaxProject/Pad CMS.xcodeproj/project.xcworkspace/xcuserdata/macuser.xcuserdatad/UserInterfaceState.xcuserstate
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/AIR.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/DCCV.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/Macrocosme.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/Mondadori.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/PadCMS.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/RUE.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/UNI.xcscheme
PadCMS-AdyaxProject/Pad CMS.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/xcschememanagement.plist
PadCMS-AdyaxProject/libs/OAuthConsumeriPhoneLib/OAuthConsumer-iPhoneLib.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/OAuthLib.xcscheme
PadCMS-AdyaxProject/libs/OAuthConsumeriPhoneLib/OAuthConsumer-iPhoneLib.xcodeproj/xcuserdata/macuser.xcuserdatad/xcschemes/xcschememanagement.plist
