<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AIR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DCCV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Macrocosme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Mondadori.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PadCMS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UNI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2282A69E1223DE5E0059BAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB17A5371576393A00DF9A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6BBF04156BA85500F9D6F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB813794152224E50038EC7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB8138FF15258EF80038EC7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5507BD0153FE42000439ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED37F0A14974D4400D71E8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
