<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon.png</string>
			</array>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_newsstand.png</string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.mobile.rue89</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.11.5</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow</string>
	<key>PADCMSConfig</key>
	<dict>
		<key>PCConfigApplicationDefaultLanguage</key>
		<string>fr</string>
		<key>PCConfigApplicationIdentifier</key>
		<integer>104</integer>
		<key>PCConfigClientIdentifier</key>
		<integer>10</integer>
		<key>PCConfigFacebookId</key>
		<string>444744805552998</string>
		<key>PCConfigServerURL</key>
		<string>http://new.padcms.adyax.com</string>
		<key>PCConfigSharedSecretKey</key>
		<string>f9103179a4044887ba078217e4a0cd76</string>
		<key>PCConfigSubscriptions</key>
		<array>
			<string>com.mobile.rue89.3months</string>
		</array>
		<key>PCConfigUseNewsstand</key>
		<true/>
		<key>PCConfigUseSandBox</key>
		<false/>
		<key>PCDisableSearching</key>
		<true/>
		<key>PCScrollViewScrollButtonsDisabled</key>
		<true/>
		<key>PCScrollingPageHorizontalScrollButtonsDisabled</key>
		<true/>
		<key>PCScrollingPageVerticalScrollButtonsDisabled</key>
		<true/>
		<key>PCStyleSheet</key>
		<dict>
			<key>PCEmbeddedPhotosButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>embeddedPhotosButton</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
				<key>PCSize</key>
				<dict>
					<key>PCSizeHeight</key>
					<integer>60</integer>
					<key>PCSizeWidth</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>PCFlashButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>flashButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>PCGallaryReturnButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryReturnButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>gallaryReturnButtonText</string>
					</dict>
				</dict>
			</dict>
			<key>PCGalleryEnterButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryEnterButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>gallaryEnterButtonText</string>
					</dict>
				</dict>
			</dict>
			<key>PCGalleryPageControlItem</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryPageControlItemNormal</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
					<key>PCButtonImageSelected</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryPageControlItemSelected</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>PCScrollControl</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>scrollControllBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>scrollControllForeground</string>
					</dict>
				</dict>
			</dict>
			<key>PCSliderPageControlItem</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>sliderPageControlItemNormal</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
					<key>PCButtonImageSelected</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>sliderPageControlItemSelected</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>PCTocButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>tocMenuButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>tocMenuButtonForeground</string>
					</dict>
				</dict>
			</dict>
			<key>PCTopTocButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>topTocMenuButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>PCTableOfContents</key>
		<dict>
			<key>PCTableOfContentsBottom</key>
			<dict>
				<key>Enabled</key>
				<false/>
			</dict>
			<key>PCTableOfContentsTop</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
		</dict>
		<key>PCTocViewStyle</key>
		<dict>
			<key>PCTocViewBackgroundStyle</key>
			<dict>
				<key>PCTocViewBackgroundStyleColor</key>
				<string>#7FFF0000</string>
			</dict>
			<key>PCTocViewButtonStyle</key>
			<dict>
				<key>PCTocViewButtonStyleBackgroundImageName</key>
				<string>topTocMenuButtonBackground.png</string>
				<key>PCTocViewButtonStyleColor</key>
				<string>#FF0000</string>
			</dict>
		</dict>
		<key>PCTopBarViewStyle</key>
		<dict>
			<key>PCTopBarViewBackButtonStyle</key>
			<dict>
				<key>PCTopBarViewBackButtonEnabled</key>
				<true/>
				<key>PCTopBarViewBackButtonImage</key>
				<string>button_home.png</string>
			</dict>
			<key>PCTopBarViewHelpButtonStyle</key>
			<dict>
				<key>PCTopBarViewHelpButtonEnabled</key>
				<true/>
				<key>PCTopBarViewHelpButtonImage</key>
				<string>button_answ.png</string>
			</dict>
			<key>PCTopBarViewLogoImage</key>
			<string>logo.png</string>
			<key>PCTopBarViewSearchStyle</key>
			<dict>
				<key>PCTopBarViewSearchEnabled</key>
				<false/>
			</dict>
			<key>PCTopBarViewShareButtonStyle</key>
			<dict>
				<key>PCTopBarViewShareButtonEnabled</key>
				<true/>
				<key>PCTopBarViewShareButtonImage</key>
				<string>button_partager.png</string>
			</dict>
			<key>PCTopBarViewSubscriptionsButtonStyle</key>
			<dict>
				<key>PCTopBarViewSubscriptionsButtonEnabled</key>
				<false/>
				<key>PCTopBarViewSubscriptionsButtonImage</key>
				<string>button_subscriptions.png</string>
			</dict>
			<key>PCTopBarViewSummaryButtonStyle</key>
			<dict>
				<key>PCTopBarViewSummaryButtonEnabled</key>
				<false/>
				<key>PCTopBarViewSummaryButtonImage</key>
				<string>button_summary.png</string>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>LeckerliOne-Regular.otf</string>
		<string>Interstate Bold.ttf</string>
		<string>Interstate Black.ttf</string>
		<string>Quicksand_Book.otf</string>
		<string>Quicksand_Bold.ttf</string>
		<string>Interstate Regular.ttf</string>
		<string>Interstate Light.ttf</string>
		<string>Interstate Italic.TTF</string>
		<string>Interstate-BoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>newsstand-content</string>
	</array>
	<key>UINewsstandApp</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
