<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>Macrocosme</string>
	<key>CFBundleExecutable</key>
	<string>Macrocosme</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.adyax.macrocosme</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>PADCMSConfig</key>
	<dict>
		<key>PCTopBarViewStyle</key>
		<dict>
			<key>PCTopBarViewLogoImage</key>
			<string>logo.png</string>
			<key>PCTopBarViewSearchStyle</key>
			<dict>
				<key>PCTopBarViewSearchEnabled</key>
				<false/>
			</dict>
			<key>PCTopBarViewHelpButtonStyle</key>
			<dict>
				<key>PCTopBarViewHelpButtonEnabled</key>
				<false/>
				<key>PCTopBarViewHelpButtonImage</key>
				<string>button_answ.png</string>
			</dict>
			<key>PCTopBarViewShareButtonStyle</key>
			<dict>
				<key>PCTopBarViewShareButtonEnabled</key>
				<true/>
				<key>PCTopBarViewShareButtonImage</key>
				<string>button_partager.png</string>
			</dict>
			<key>PCTopBarViewSubscriptionsButtonStyle</key>
			<dict>
				<key>PCTopBarViewSubscriptionsButtonEnabled</key>
				<false/>
				<key>PCTopBarViewSubscriptionsButtonImage</key>
				<string>button_subscriptions.png</string>
			</dict>
			<key>PCTopBarViewBackButtonStyle</key>
			<dict>
				<key>PCTopBarViewBackButtonEnabled</key>
				<true/>
				<key>PCTopBarViewBackButtonImage</key>
				<string>button_home.png</string>
			</dict>
			<key>PCTopBarViewSummaryButtonStyle</key>
			<dict>
				<key>PCTopBarViewSummaryButtonEnabled</key>
				<false/>
				<key>PCTopBarViewSummaryButtonImage</key>
				<string>button_summary.png</string>
			</dict>
		</dict>
		<key>PCTocViewStyle</key>
		<dict>
			<key>PCTocViewButtonStyle</key>
			<dict>
				<key>PCTocViewButtonStyleColor</key>
				<string>#00000000</string>
				<key>PCTocViewButtonStyleBackgroundImageName</key>
				<string>topTocMenuButtonBackground.png</string>
			</dict>
			<key>PCTocViewBackgroundStyle</key>
			<dict>
				<key>PCTocViewBackgroundStyleColor</key>
				<string>#7F000000</string>
			</dict>
		</dict>
		<key>PCConfigApplicationDefaultLanguage</key>
		<string>fr</string>
		<key>PCTableOfContents</key>
		<dict>
			<key>PCTableOfContentsTop</key>
			<dict>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>PCTableOfContentsBottom</key>
			<dict>
				<key>Enabled</key>
				<false/>
			</dict>
		</dict>
		<key>PCConfigApplicationIdentifier</key>
		<integer>16</integer>
		<key>PCConfigClientIdentifier</key>
		<integer>14</integer>
		<key>PCConfigGANAccountId</key>
		<string>UA-1535257-17</string>
		<key>PCConfigFacebookId</key>
		<string>419263754760820</string>
		<key>PCConfigSharedSecretKey</key>
		<string>55fddc50d61e51cee83d15485c5d7cd3</string>
		<key>PCConfigServerURL</key>
		<string>http://new.padcms.adyax.com</string>
		<key>PCConfigUseSandBox</key>
		<false/>
		<key>PCDisableSearching</key>
		<false/>
		<key>PCStyleSheet</key>
		<dict>
			<key>PCTopTocButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>topTocMenuButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>PCEmbeddedPhotosButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>embeddedPhotosButton</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
				<key>PCSize</key>
				<dict>
					<key>PCSizeHeight</key>
					<integer>60</integer>
					<key>PCSizeWidth</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>PCFlashButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>flashButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>PCGallaryReturnButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryReturnButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>gallaryReturnButtonText</string>
					</dict>
				</dict>
			</dict>
			<key>PCGalleryEnterButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryEnterButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>gallaryEnterButtonText</string>
					</dict>
				</dict>
			</dict>
			<key>PCGalleryPageControlItem</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryPageControlItemNormal</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
					<key>PCButtonImageSelected</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryPageControlItemSelected</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>PCScrollControl</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>scrollControllBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>scrollControllForeground</string>
					</dict>
				</dict>
			</dict>
			<key>PCSliderPageControlItem</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>sliderPageControlItemNormal</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
					<key>PCButtonImageSelected</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>sliderPageControlItemSelected</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>PCTocButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>topTocMenuButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>PCVerticalMiniArticleScrollerOffset</key>
			<integer>-20</integer>
		</dict>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
